.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 9999;
  padding: 20px;
}

body.sidebar-open .sidebar {
  right: 0;
}

.sidebar-reports {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 9999;
  padding: 20px;
}

body.sidebar-reports-open .sidebar-reports {
  right: 0;
}

.sidenav a {
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
   position: fixed;    
  top: 50px;            
  z-index: 10000;   
}

.sidenav a:hover {
  left: 0;
}

#demografia {
  font-size: 20px;
  top: 20px;
  background-color: #77B8F8;
}

#wydarzenia {
  font-size: 20px;
  top: 80px;
  background-color: #1685F3;
}

#zgloszenia {
  font-size: 20px;
  top: 140px;
  background-color: #0B70D5;
}


