.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 9999;
  padding: 20px;
}

body.sidebar-open .sidebar {
  right: 0;
}